:root {
  /* cores principais */
  --primary-color: #c11;
  --main-bg-color: #000000;
  --bg-color: #00000080;
  --header-bg-color: #0a0a0a;
  /* scrollbar */
  --scrollbar-color: #fff;

  /* fonts */
  --font-color: #aaa;
  --font-color2: #fff;

  /* cor botões */
  --btn-color: #00000080;
  --btn-color2: #fff;
  /* 1rem = 16px (user agent) = 100% (user agente) */
  font-size: 62.5%; /*10px ficou como padrão */
}

/* definições básicas */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

  /* intervalo de tamanho clamp(mini,padrão,max)*/
  font-size: clamp(14px, 1.6rem, 2vw);
}

::-webkit-scrollbar {
  width: 7px;
  background-color: var(--main-bg-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: 10px;
}
body {
  height: 100vh;
  background-color: var(--main-bg-color);
  color: var(--font-color2);
  font-family: "Arial", Times, Arial, sans-serif;
}

/* styles da navBar */
header {
  position: fixed;
  top: 0;
  z-index: 9;
  width: 100%;

  transition-timing-function: ease-in;
  transition: all 0.5s;
}
header.active {
  background-color: var(--header-bg-color);
}
.navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 30px 0px;
}

.navLogo {
  width: 100px;
  height: 40px;
  margin-left: 50px;
  transition: transform 0.2s;
}
.navLogo:hover {
  transform: scale(1.1);
}

.navBar nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.navBar nav ul li {
  font-size: 1.5rem;
  margin-right: 10px;
  text-transform: uppercase;
  line-height: 1.4rem;
}
.navBar nav ul li:last-child {
  margin-right: 50px;
}
.navBar nav ul li a {
  display: block;
  padding: 0.5rem;
  color: var(--font-color2);
  text-decoration: none;
  transition: color 0.2s;
}

.navBar nav ul li a:hover {
  color: var(--font-color);
}

#btnMobile {
  display: none;
}

/* styles do Banner do site */

#banner {
  font-size: 1.7rem;
  height: 650px;
  background-size: cover;
  object-fit: contain;
  background-position: center center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.bannerFadeBottom {
  position: relative;
  top: -50px;
  height: 10rem;
  background: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    rgba(17, 17, 17, 0.51)
  );
}

#description {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 40px;
}

#title {
  margin-top: 15%;
  font-size: 5rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.bannerInfoBtn {
  display: flex;
  flex-direction: row;
}
.btn {
  background-color: var(--btn-color);
  border: none;
  color: var(--font-color2);
  padding: 15px 10px;
  margin-right: 15px;
  font-size: 1.2rem;

  cursor: pointer;
  transition: 0.3s ease all;
}

.btn:hover {
  background-color: var(--btn-color2);
  color: var(--btn-color);
}

.btn i {
  margin-right: 8px;
}
.bannerInfo {
  margin-left: 50px;
  width: 70%;
}

/* carrousel */
.carrousel {
  width: 95%;
  margin: 0 auto;
}
.carrousel h3 {
  font-size: 2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 5px 15px;
  font-weight: bold;
}
.box-filmes {
  object-fit: contain;
  width: 100%;
  max-height: 250px;
  margin: 5px 0px;
  cursor: pointer;
}

/* FOOTER */
footer {
  width: 100%;
  padding: 20px;
  text-align: center;
  color: var(--bg-color2);
  background-color: var(--header-bg-color);
}
